@{
    ViewData["Title"] = "Agregar Jugador";
}

<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body" style="background-color:#16213E;">
                        <form method="post" action='@Url.Action("GuardarJugador","Home") '
                            enctype="multipart/form-data">
                            <select name="IdPais" id="IdPais">
                                <option value=1>Qatar</option>
                                <option value=2>Ecudaro</option>
                                <option value=3>Senegal</option>
                                <option value=4>Paises Bajos</option>
                                <option value=5>Inglaterra</option>
                                <option value=6>Iran</option>
                                <option value=7>Estados Unidos</option>
                                <option value=8>Gales</option>
                            </select>
                            <br></br>
                            <input class="form-control" type="text" name="Nombre" maxlength="30" placeholder="Nombre"
                                size="20" />
                            <br>
                            <input class="form-control" type="text" name="Apellido" maxlength="30"
                                placeholder="Apellido" size="20" />
                            <br>
                            <input class="form-control" type="text" name="NumeroCamiseta"
                                placeholder="Numero de camiseta" size="20" />
                            <br>
                            <input class="form-control" type="date" name="FechaNacimiento" />
                            <br>
                            <input class="form-control" type="text" name="PosicionDeJuego" maxlength="30"
                                placeholder="Posicion de Juego" size="20" />
                            <br>
                            <input class="form-control" type="file" name="ImagenJugador" />
                            <input type="hidden" name="Repetida" value="1" />
                            <br>
                            <input type="submit" value="Guardar" class="btn btn-success" />
                        </form>
                    </div>
                </div>
            </div>


        </div>

    </div>

</div>


</div>