@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class=" container">
        <div class="row">
            <div class="col-4">
                <h1>MIS FIGURITAS</h1>
                <a href="/home/MisFigus">
                <img class="fotosBanderas" src="https://resizer.glanacion.com/resizer/l1fIJtzO8mIGPnYNjUkJbuIsXlQ=/310x0/filters:format(webp):quality(80)/cloudfront-us-east-1.images.arcpublishing.com/lanacionar/6MBHQ32DBNBGNA45LCXN5LZYDI.jpg">
                </a>
            </div>
            <div class="col-4">
            <h1> ALMBUM </h1>
            <a href="/home/Paises">
            <img class="TapaMundial" src="https://http2.mlstatic.com/D_NQ_NP_854683-MLA51754906376_092022-O.jpg">
            </a>
            </div>
            <div class="col-4">
                <h1> ABRIR PAQUETE</h1>
                 <a href="/home/FigusPaquete">
                <img class="fotosBanderas"  src="https://http2.mlstatic.com/D_NQ_NP_859267-MLA51266807628_082022-O.jpg">
                </a>
            </div>
            <a href="/home/Crear"></a>

        </div>
    </div>
</div>
