@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class=" container">
        <div class="row">
            <div class="clo-4"></div>
            <div class="clo-4">
            <h1> ALMBUM</h1>
            <a href="/home/Paises">
            <img src="https://http2.mlstatic.com/D_NQ_NP_854683-MLA51754906376_092022-O.jpg">
            </a>
            </div>

        </div>
    </div>
</div>
