@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class=" container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
            <h1> ALMBUM</h1>
            <a href="/home/Paises">
            <img class="TapaMundial" src="https://http2.mlstatic.com/D_NQ_NP_854683-MLA51754906376_092022-O.jpg">
            </a>
            </div>
            <div class="col-4">
                <h1>ABRIR PAQUETE</h1>
                 <a href="/home/FigusPaquete">
                <img class="fotosBanderas"  src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjQr1vk83Cz7mlGpkfzEwP4EYZ7jVKTcJlreFuKkp3w7NYJDGFgcXteSzsh7GEvsBGPwQJOUY3RSKJlqB19irDpL95qVmSaW5wd3qBxM8GQzkRSLXPhovIfIrB8LioyEYqXyb8AOyNMnHul47wnogiV5_V9xNadNKOJ70QDJC551OLz5Mh0kkhFpgIyfg/s900/Fa20p-FX0AIYwSG.jpg">
                </a>
            </div>

        </div>
    </div>
</div>
