@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <div class=" container">
    <div class="row">
      <div class="col-4">
        
        @foreach (var item in ViewBag.TodosJugadores)
        {
          <img class="foto" src="@item.ImagenJugador" alt="@item.Nombre" data-bs-toggle="modal"
          data-bs-target="#exampleModal2" onclick="MostrarMasInfo(@item.IdJugador, @item.IdPais)">
          
        }
      </div>

    </div>
  </div>
</div>

<!--MODAAAAAAAAAAAAAAAAAAAAAAL-->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalTitle">modal </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="ModalBody"></div>
      <div class="modal-footer">
        <a  class="btn btn-primary" id="BotonPegar">Pegar</a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>