@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class=" container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
            <h1> ALMBUM</h1>
            </div>

        </div>
        <div class="row"> 
            <div class="col-3">

            </div>
            <img class="fotosBanderas"src="@ViewBag.Pais.bandera">
             @foreach (var item in ViewBag.Jugadores)
             {
                if(item.Pegadas=true){
                <img class="fotos"  src="@item.ImagenJugador" alt="@item.Nombre" > 
                }
             }
        </div>
    </div>
</div>
