@{
    ViewData["Title"] = "Paises";
}


    @foreach (var item in ViewBag.Pais)
    {
    <a href="view/PaginaAlbum/">
    <img class="fotos"  src="@item.bandera" alt="@item.nombre" > 
    </a>
    }