@{
    ViewData["Title"] = "Paquetes";
}


<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <img class="TapaMundial" src="https://http2.mlstatic.com/D_NQ_NP_859267-MLA51266807628_082022-O.jpg"
                alt="Paquete mundial">
        </div>
       
        
        
    </div>
    <div class="row">
        @foreach (var item in ViewBag.Jugadores)
        {
        <img class="fotos" src="@item.ImagenJugador" alt="@item.Nombre"  data-bs-toggle="modal" data-bs-target="#exampleModal2" onclick="MostrarMasInfo(@item.IdJugador)">  
        }
    </div>
</div>

<!--MODAAAAAAAAAAAAAAAAAAAAAAL-->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalTitle">modal </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="ModalBody"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>