html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.fotos{
  width: 30%;
  height: 30%;
}

.fotosBanderas{
  width: 50%;
  height: 50%;
}
.figuritas{
  width: 70%;
  height: 70%;
  margin-bottom: 5%;
  margin-top:5%;
}
.TapaMundial{
  width: 90%;
  height: 95%;
}
.grad {
  background-image: linear-gradient(to bottom right, rgb(117, 13, 13), rgb(160, 153, 153));
}